@value colors: "../../UiStyle/Color/Color.css";
@value lightTheme_helpers_wrapper from colors;

.photo {
    height: 200px;
    width: 200px;
    border-radius: 100px;
}

.largePhotoContainer {
    display: inline-block;
}
.largePhoto {
    height: 300px;
    width: 300px;
    border-radius: 50px;
}
.closeImg {
    height: 40px;
    top: 10px;
    left: 75px;
    position: absolute;
    display: inline-block;
}

.closeImg:hover {
    fill: red;
    transform: rotate(90deg);
    transition: 1s;
}

.inputStyle-btn{
border-radius: 10px;
}
