@value colors: "../../UiStyle/Color/Color.css";
@value lightTheme_text from colors;
@value lightTheme_links_text_helpers from colors;
@value lightTheme_helpers_wrapper from colors;
@value lightTheme_helpers_text from colors;



.networksName{
  color: lightTheme_text;

}
.networksUrl{
    text-decoration: none
}
.networksUrl:hover{
   color: lightTheme_links_text_helpers;
}
.networksUrl:hover:after{
    content: attr(data-name);
    z-index: 1;
    margin-left: 30px;
    position: absolute;
    background: lightTheme_helpers_wrapper;
    color: lightTheme_helpers_text;
    font-family: cursive;
    font-size: 14px;
}
.hideNetworks{
    margin-top: 10px;
}


