@value colors: './UiStyle/Color/Color.css';
@value blue_139_189_255 from colors;

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: rgb(7,3,77);
    background: linear-gradient(56deg, rgba(7,3,77,1) 20%, rgba(9,9,121,1) 51%, rgba(0,212,255,1) 100%);
}
.mainContentWrapper{
    display: inline-flex;
    min-height: 600px;
}
.preloader{
    width: 70%;
    height: 70%;
}
.wrapperPreloader{
    display: inline-flex;
    min-height: 600px;
}